<% form_for @u, :url => register_do_path do |form| %>
<% if @u.errors.any? %>
  <ul>
    <% @u.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<table>
  <tr>
    <td><label for="user_username">Username:</label></td>
    <td><%= form.text_field :username %></td>
  </tr>
  <tr>
    <td><label for="user_password">Password</label></td>
    <td><%= form.password_field :password %></td>
  </tr>
  <tr>
    <td><label for="user_password_confirmation">Password Again</label></td>
    <td><%= form.password_field :password_confirmation %></td>
  </tr>
	<tr>
		<td align="center" colspan="2"><%= form.submit "Register" %></td>
	</tr>
</table>
<% end %>

<%= link_to "Login", login_path %>